---
import BaseLayout from '../layouts/BaseLayout.astro'
import { SocialLinks } from '../consts'
import { Icon } from 'astro-icon/components'
import FacebookPNG from '../assets/facebook.png'
import InstagramPNG from '../assets/instagram.png'
import Image1 from '../assets/image_home1.jpg'
import Image2 from '../assets/image_home2.jpg'
import Image3 from '../assets/image_home3.jpg'
---

<BaseLayout>
	<main
		class="app-container flex flex-col gap-12 justify-center py-26 md:py-28 pt-44 md:pt-28 relative"
	>
		<div>
			<p class="block text-2xl opacity-70 mt-9 mb-8 uppercase text-center">
				Thérapie Psycho-corporelle <br />accompagnement corps-émotions
			</p>
		</div>
		<div class="grid md:grid-cols-3 gap-8">
			<div class="md:mr-5">
				<img src={Image3.src} alt="Salon thérapie - accueil" />
			</div>
			<div class="md:mr-5">
				<img src={Image2.src} alt="Salon thérapie - table massage" />
			</div>
			<div class="md:mr-5">
				<img src={Image1.src} alt="Salon thérapie - pratique" />
			</div>
		</div>
		<main class="texte">
			<section>
				<h2
					class="block text-2xl opacity-70 mt-9 mb-8 uppercase text-center"
					id="soins"
				>
					LES SOINS
				</h2>
				<strong>Soin <em>L'instant pause</em> : </strong><br />
				<br />
				<em
					>Reconnecte-toi à ton corps, apaise ton système nerveux et ramène de
					la clarté dans ton esprit.</em
				>
				<br />
				<br />Dans un monde où tout s'accélère, il est facile de se perdre, de
				s'épuiser ou de se sentir submergé·e.
				<br />
				Maman surmenée, burn-out, brouillard mental, charge mentale élevée... Tu
				as le besoin de t'offrir une vraie pause ?
				<br />
				Ce soin est une invitation à ralentir, à te recentrer et à retrouver de l'équilibre.
				<br />
				<br />En douceur, il t'aide à :<br />
				∙ Reconnecter à ton corps et à ses besoins<br />
				∙ Apaiser ton système nerveux<br />
				∙ Ramener de la clarté dans ton esprit et retrouver de l'espace intérieur
				<br /><br />
				<p class="mt-12">
					Séance 30mn - 35€
					<br />Séance 45mn - 50€
					<br />Séance 1h - 65€
					<br />Moyens de paiement : espèces, Wero, Paypal et chèques.
				</p>
				<a
					class="btn btn-secondary"
					href="https://calendar.app.google/wCg61zqrGNYgEWQD9"
					target="_blank">Prendre rendez-vous</a
				>
				<br /><br />
				<strong>Soin <em>L'envolée</em> : </strong><br />
				<br />
				<em>Libère-toi de tes blocages et retrouve ton élan de vie.</em>
				<br />
				<br />
				Parfois, des peurs, des croyances limitantes ou des expériences passées nous
				empêchent d'avancer et de nous épanouir pleinement.
				<br />Ces blocages, souvent invisibles, peuvent peser sur notre
				quotidien, nos relations ou nos projets.
				<br /><br />
				Ce soin te guide, en douceur, pour identifier et libérer les blocages émotionnels,
				afin de retrouver de la fluidité et du mouvement dans ta vie.
				<br />
				<br />
				Ensemble, nous explorerons ce qui te retient, afin de :<br />
				∙ Identifier les schémas qui te limitent <br />
				∙ Accueillir tes émotions sans jugement <br />
				∙ Prendre soin de ces blocages pour pouvoir continuer d'avancer <br />
				<br />
				Que ce soit pour une situation précise, une transition de vie ou simplement
				le besoin de te reconnecter à toi-même, ces séances t'offrent un accompagnement
				sur mesure, respectueux de ton rythme.
				<br /><br />
				<p class="mt-12">
					Séance 45mn - 50€ (visio uniquement)
					<br />Moyens de paiement : Wero, Paypal
				</p>
				<a
					class="btn btn-secondary"
					href="https://calendar.app.google/wCg61zqrGNYgEWQD9"
					target="_blank">Prendre rendez-vous</a
				>
				<br />
				<br />
				<br />
				<strong>Soin <em>La traversée</em> : </strong><br />
				<br />
				<em
					>Prends soin de tes blessures émotionnelles avec douceur et
					bienveillance.
					<br />
					Resécurise ton système nerveux, modifie tes schémas et retrouve le pouvoir
					d'écouter ton corps.</em
				>
				<br /><br />
				Les émotions qui n'ont pas pu être vécues pleinement restent ancrées en toi
				et créent des schémas qui épuisent ton système nerveux et le mettent en alerte.
				<br />
				<br />
				Ce soin est une invitation à t'écouter et à accueillir ce que ton corps a
				à te dire.
				<br />En douceur, elle t'aide à : <br />
				∙ Libérer tes émotions bloquées et bloquantes <br />
				∙ (Re)sécuriser ton système nerveux <br />
				∙ Retrouver une connexion profonde à toi-même <br />
				<br />
				C'est ton corps qui parle, c'est ton corps qui se livre, c'est ton corps
				qui permet ou non de te faire sentir ces sensations.
				<br /><br />
				<p class="mt-12">
					Séance 1h - 65€
					<br />Moyens de paiement : espèces, Wero, Paypal et chèques.
				</p>
				<a
					class="btn btn-secondary"
					href="https://calendar.app.google/wCg61zqrGNYgEWQD9"
					target="_blank">Prendre rendez-vous</a
				>
				<br />
				<br />
				<br />
				<strong>Soin <em>La plume</em> : </strong><br />
				<br />
				<em>Un soin par le toucher pour se réconcilier avec son corps.</em>
				<br /><br />
				Le corps est souvent oublié, malmené ou marqué par des épreuves physiques
				et émotionnelles. Tu peux aujourd'hui te réapproprier ton histoire, t'écouter
				et te réconcilier avec toi-même.
				<br />
				<br />
				Que tu aies vécu une grossesse (aboutie ou non), subi des violences physiques,
				eu un accident ou une blessure, ton corps garde la mémoire de ces expériences.
				<br /><strong><em>La plume</em></strong> est un soin par le toucher, doux
				et respectueux, qui t'invite à retrouver confiance et recréer du lien avec
				ton corps.
				<br /><br />
				Je vais poser mes mains sur une ou plusieurs parties de ton corps (en contact
				la peau ou non), selon tes besoins et ton consentement. Le toucher peut être
				un effleurement, une pression, une main posée, un mouvement lent ou rapide
				– toujours adapté à ton ressenti du moment.
				<br /><br />
				<span class="text-sm"
					><em>Soin réservé aux femmes et réalisé sans huile </em></span
				>
				<p class="mt-12">
					Séance 45mn - 50€
					<br />Séance 1h - 65€
					<br />Moyens de paiement : espèces, Wero, Paypal et chèques.
				</p>
				<a
					class="btn btn-secondary"
					href="https://calendar.app.google/wCg61zqrGNYgEWQD9"
					target="_blank">Prendre rendez-vous</a
				>
				<br />
				<br />
				<br />
				<strong>Soin <em>La plume et L'instant pause</em> : </strong><br />
				<br />
				<em
					>Un doux mélange de ces deux soins pour créer un moment unique pour se
					reconnecter, s'apaiser et se réconcilier avec soi-même.
				</em>
				<br /><br />
				Ce soin est ouvert à toutes les femmes souhaitant s'offrir un moment de pause
				et de reconnexion, quelles que soient leurs expériences de vie.
				<br />
				<br />
				C'est une invitation à ralentir, à te recentrer et à te réconcilier avec
				toi-même. Il allie la douceur de <strong
					><em>L'instant pause</em></strong
				> (pour apaiser le système nerveux et clarifier l'esprit) et la reconnexion
				profonde de <strong><em>La plume</em></strong> (pour retrouver confiance
				et recréer du lien avec ton corps).
				<br /><br />
				Avec une grande douceur, ce soin t'aide à : <br />
				∙ Te reconnecter à ton corps et à ses besoins <br />
				∙ Apaiser ton système nerveux et retrouver un ancrage serein <br />
				∙ Ramener de la clarté dans ton esprit, pour avancer avec plus de légèreté
				<br />
				∙ Te réconcilier avec ton histoire, en accueillant ton corps tel qu'il est
				aujourd'hui <br />
				<br />
				Je t'accompagne avec des toucher doux, effleurement, pression, main posée,
				selon ton ressenti et ton consentement. Le soin peut se faire en contact
				avec la peau ou non, toujours dans le respect de ton confort et de ton rythme.
				<br /><br />
				<span class="text-sm"
					><em>Soin réservé aux femmes et réalisé sans huile </em></span
				>
				<p class="mt-12">
					Séance 1h30 - 95€
					<br />Séance 2h - 125€
					<br />Moyens de paiement : espèces, Wero, Paypal et chèques.
				</p>
				<a
					class="btn btn-secondary"
					href="https://calendar.app.google/wCg61zqrGNYgEWQD9"
					target="_blank">Prendre rendez-vous</a
				>
				<br />
				<br />
				<p class="mt-12">
					<strong>L'atelier <em>Ecoute ton corps</em> : </strong>
					<br />
					<br />
					Avec des exercices, tu pourras te mettre à l'écoute de ton propre corps
					et permettre une reconnexion à toi.
					<br />Je te guiderai et t'accompagnerai dans ce processus afin que tu
					puisses y aller avec douceur et bienveillance.
					<br />Cet atelier peut te permettre, dans ton quotidien, de mieux
					ressentir ce que ton corps veut te dire.
					<br />De mieux sentir tes besoins et mieux vivre tes émotions.
					<br />
					<br />
					<p class="mt-12">
						Atelier 45mn (présentiel ou visio) :
						<br />∙ Séance individuelle - 45€
						<br />∙ Séance duo - 25€ par personne
						<br />
						<br />Moyens de paiement :
						<br />∙ Présentiel : espèces, Wero, Paypal et chèques.
						<br />∙ Visio : Wero, Paypal
					</p>
					<a
						class="btn btn-secondary"
						href="https://calendar.app.google/wCg61zqrGNYgEWQD9"
						target="_blank">Prendre rendez-vous</a
					>
					<br />
				</p>
			</section>
			<section>
				<h2
					class="block text-2xl opacity-70 mt-9 mb-8 uppercase text-center"
					id="patientes"
				>
					LES PATIENT·ES
				</h2>
				<p class="mt-12">
					Si tu as des difficultés à écouter ton corps, à ressentir tes émotions
					sans te faire envahir, ou au contraire, à ne pas les ressentir
					vraiment... Si tu sens qu'au fond de toi il y a quelque chose qui
					reste, qui te bloque, qui te gêne. Ou simplement, si tu es curieux·se
					de voir les possibilités de te sentir connecté·e à toi, à ton corps.
				</p>
				<p class="mt-12">
					Tu seras accueilli·e avec amour et bienveillance, dans un espace
					sécurisé pour toi, pour que tu puisses t'exprimer librement.
				</p>
				<p class="mt-12">
					Chaque part de toi qui a besoin d'être vue et reconnue est la
					bienvenue ici.
				</p>
			</section>
			<section>
				<h2
					class="block text-2xl opacity-70 mt-9 mb-8 uppercase text-center"
					id="praticienne"
				>
					La praticienne
				</h2>
				<p class="mt-12">
					Je suis Marielle, immensément curieuse du fonctionnement du corps
					humain et de toutes ses capacités.
				</p>
				<p class="mt-12">
					Après 14 années dans le salariat où j'ai cherché ma voie et ma place,
					sans jamais les trouver... J'ai senti au plus profond de moi, en
					découvrant la méthode biodynamique neuro-émotionnelle, que c'était là
					ma place. Que c'était là où je devais aller, apprendre, comprendre,
					pratiquer.
				</p>
				<p class="mt-12">
					Et aujourd'hui, je sais, je sens que c'est juste pour moi d'être ici
					et de vous proposer ces accompagnements corporels.
				</p>
			</section>
			<section>
				<h2
					class="block text-2xl opacity-70 mt-9 mb-8 uppercase text-center"
					id="contact"
				>
					CONTACT
				</h2>
				<p class="flex flex-col items-center">
					<span class="mb-4">
						Une question sur la méthode, la séance, les bienfaits, etc... ?
					</span>
					<a href="tel:0650683795">06.50.68.37.95</a>
					<span>(SMS, appel)</span>

					<a href="mailto:contact@mariellepousse.fr" class="mt-4"
						>contact@mariellepousse.fr</a
					>
					<span class="mt-4">20 Grand' Rue - 34800 Ceyras</span>
					<span>Accès non PMR</span>
					<span>Parking au bout de la rue</span>
					<a
						class="btn btn-secondary"
						href="https://calendar.app.google/wCg61zqrGNYgEWQD9"
						target="_blank">Prendre rendez-vous</a
					>
					<span class="mt-4 flex">
						<a href={SocialLinks[0].url}>
							<img src={InstagramPNG.src} width={32} alt="Logo Instagram" />
						</a>
						<a href={SocialLinks[1].url} class="ml-4">
							<img src={FacebookPNG.src} width={32} alt="Logo Facebook" />
						</a>
					</span>
				</p>
			</section>
		</main>
	</main>
</BaseLayout>
